%br
%p
= button_tag "Current Date/Time", type: "button", onclick: "get_reading(); "
%b
  The current date is:
  %span#reading
%br
%p
%footer
  %p
    != t('.copyright')
    #{Time.now.year}
    = t('.footer')
