%h1{id: "welcome_id"}=  t('.title')  #title and description of home page, defined in en.yml
%p{id: "description_id"}= t('.description')

%h2{id: "current", onclick: "ToggleText(this)"} Current Events
%p{id: "currentp"} See current events here!

%h2{id: "venues", onclick: "ToggleText(this)"} Venues
%p{id: "venuesp"} View different venues and add your own events here!

%h2{id: "accounts", onclick: "ToggleText(this)"} Accounts
%p{id: "accountsp"} Sign up for an ImmyEvents account to book tickets and leave reviews!



%h2{id: "accessibility", onclick: "ToggleText(this)"} Accessibility Settings

%div{id: "accessibilityp"}
  %p Font Size:
  %input#smallb{onclick: "SetFontSize('90%')", type: "button", value: "Small"}
  %input#mediumb{onclick: "SetFontSize('105%')", type: "button", value: "Medium"}
  %input#largeb{onclick: "SetFontSize('125%')", type: "button", value: "Large"}
  %p Colour Scheme:
  %input#normalb{onclick: "SetPageStyle('Normal')", type: "button", value: "Normal Mode"}
  %input#darkb{onclick: "SetPageStyle('Dark')", type: "button", value: "Dark Mode"}
